header {
    text-align: center;
  }
  
  .logo {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Rounded corners for the image */
    transition: all 0.2s ease-in-out; /* Add transition for animations */
    animation: pop-in 1.5s ease forwards;
  }
  
  .logo:hover {
    transform: scale(1.2); /* Increase size on hover */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add box shadow on hover */
  }
  
  .logo:not(:hover) {
    transform: scale(1); /* Restore size when not hovering */
    box-shadow: none; /* Remove box shadow when not hovering */
  }
  
  .my-table {
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #222;
    border-radius: 10px; /* Rounded corners for table */
    cursor: help;
    transition: all 0.2s ease-in-out; /* Add transition for animations */
    margin-top: 0px;
    font-family: 'Source Code Pro', monospace;
    animation: pop-in 0.5s ease forwards;
  }
  
  .logo:hover ~ .my-table {
    margin-top: 50px; /* Lower table when logo is hovered */
  }
  
  .logo:not(:hover) ~ .my-table {
    margin-top: 0px; /* Raise table when logo is not hovered */
  }
  
  .my-table td:hover {
    background-color: #af0000;
    transform: scale(1.05);
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .my-table td:not(:hover) {
    transition: all 0.2s ease-in-out;
    background-color: #860101;
    border: 5px solid #222;
    border-radius: 35px;
  }
  
  .my-table th,
  .my-table td {
    padding: 20px 35px; /* Changed padding for table cells */
    border: none;
    text-align: center;
    background-color: #af0000;
    border-radius: 35px; /* Rounded corners for cells */
    border: 5px solid #222; /* Red border for cells */
    border-radius: 35px;
    font-family: 'Source Code Pro', monospace;
    animation: pop-in 0.5s ease forwards;
  }
  
  .my-table th {
    background-color: #af0000;
    font-family: 'Source Code Pro', monospace;
  }
  
  .my-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #222;
    color: #af0000;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    font-family: 'Source Code Pro', monospace;
    animation: pop-in 0.5s ease forwards;
  }
  
  .my-button:hover {
    transform: scale(1.05);
    background-color: #af0000;
    color: #222;
  }
  
  body {
    font-family: 'Source Code Pro', monospace;
    background-color: #222;
    margin: 0;
    padding: 0;
  }

  @keyframes pop-in {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
