body {
	background-color: #222;
	font-family: 'Source Code Pro', monospace;
}

h1 {
	color: #af0000;
	font-size: 4rem;
	font-weight: bold;
}

h2 {
	color: #af0000;
	font-size: 2rem;
	font-weight: bold;
}

.btn-primary {
	background-color: #af0000;
	border-color: #af0000;
}

.btn-primary:hover {
	background-color: #222;
	border-color: #af0000;
    color: #af0000 ;
}

img {
	margin-bottom: 1rem;
}