.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Source Code Pro', monospace;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: 'Source Code Pro', monospace;
  }
  
  p {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: 'Source Code Pro', monospace;
  }
  
  button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-family: 'Source Code Pro', monospace;
  }