body {
    font-family: 'Source Code Pro', monospace;
    background-color: #00122d;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

h1 {
	font-size: 36px;
	margin-bottom: 30px;
    font-family: 'Source Code Pro', monospace;
    color: #00a6f8; 
}

h2 {
	font-size: 15px;
	margin-top: 0px;
    font-family: 'Source Code Pro', monospace;
    color: #00a6f8; 
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 30px;
}

label {
	font-size: 24px;
	margin-bottom: 10px;
    color: #00a6f8;
}

input {
	font-size: 24px;
	padding: 10px;
	margin-bottom: 10px;
    font-family: 'Source Code Pro', monospace;
    background-color: #424549;
    cursor: pointer;
    color: aliceblue;
}

button {
    margin: 20px;
	font-size: 24px;
	padding: 20px;
	background-color: #00a6f8;
	color: #00122d;
	border: none;
	border-radius: 20px;
	cursor: pointer;
    font-family: 'Source Code Pro', monospace;
}

button:hover {
	background-color: #0074ad;
}

p {
	font-size: 24px;
	margin-top: 30px;
    color: #00a6f8;
}

text {
    color: #00a6f8; /* changed font color to #00a6f8 */
    font-family: 'Source Code Pro', monospace;
}